{% extends "base.html" %}
{% block content %}

<div class="sixteen columns">
    <div class="row">
        {% include "select_smartrider.html" %}
    </div>

    <div class="row">
        {% if actions %}
            {{len(actions)}} actions
        {% else %}
            No actions to display
        {% end %}
    </div>

    {% for action in actions %}
        <div class="row">
            <strong>Action:</strong>
            {{action['action']}}<br/>

            {% if action['action'] != "SV Update" %}

                {% if action['zone'] %}
                    <strong>Zone:</strong>
                    {{action['zone']}}<br/>
                {% end %}

                {% if action['amount'] is not None %}
                    <strong>Amount:</strong>
                    ${{action['amount']}}<br/>
                {% end %}

                {% if action['service'] %}
                    <strong>Service:</strong>
                    {{action['service']}}<br/>
                {% end %}

                {% if action['location'] %}
                    <strong>Location:</strong>
                    {{action['location']}}<br/>
                {% end %}

                {% if action['notes'] %}
                    <strong>Notes:</strong>
                    {{action['notes']}}<br/>
                {% end %}

            {% end %}

            <strong>Balance:</strong> ${{action['balance']}}<br/>

            {% if action['time'] %}
                <strong>Time:</strong>
                {{action['time'].strftime('%I:%M %p %d/%m/%Y')}}
                <br/>
            {% end %}

        </div>
    {% end %}
</div>

{% end %}
