<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{{ static_url('ribs/css/Ribs.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/colors.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/custom.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="sixteen columns">
                <div class="row">
                    <ul class="nav">
                        <li>
                            {% if is_authenticated() %}
                                <a href="/logout">Logout</a>
                            {% else %}
                                <a href="/login">Login</a>
                            {% end %}
                        </li>
                        <li>
                            <a href="/actions">Actions</a>
                        </li>
                        <li>
                            <a href="/fares">Fares</a>
                        </li>
                    </ul>

                </div>
            </div>
            {% block content %}
            {% end %}
        </div>
    </body>
</html>
