<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{{ static_url('ribs/css/Ribs.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/custom.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="seven columns">
                <div class="row">
                    <h2>
                        Sample Transperth App
                    </h2>
                </div>
            </div>
            <div class="six columns pull-left">
                <div class="row">
                    <nav>
                        <ul class="nav">
                            <li>
                                {% if is_authenticated() %}
                                    <a class="button" href="/logout">Logout</a>
                                {% else %}
                                    <a class="button" href="/login">Login</a>
                                {% end %}
                            </li>
                            <li>
                                <a class="button" href="/actions">Actions</a>
                            </li>
                            <li>
                                <a class="button" href="/trips">Trips</a>
                            </li>
                            <li>
                                <a class="button" href="/routes">Routes</a>
                            </li>
                            {% block nav %}
                            {% end %}
                        </ul>
                    </nav>
                </div>
            </div>
            <hr/>
            {% block content %}
            {% end %}
        </div>
    </body>
</html>
