{% extends "base.html" %}
{% block content %}

{% raw fares_table %}

<div class="row">
    <table>
        {% set misc = route['meta']['misc'] %}
        <tr>
            <td>Total walking distance: </td>
            <td>{{misc['total_walking_distance']}}m</td>
        </tr>
        <tr>
            <td>Departure time: </td>
            <td>{{misc['depart_time']}}</td>
        </tr>
        <tr>
            <td>Arrival time:</td>
            <td>{{misc['arrival_time']}}</td>
        </tr>
        <tr>
            <td>Number of legs: </td>
            <td>{{misc['total_walking_distance']}}</td>
        </tr>
    </table>
</div>


<div style="height: 60px;" class="step">
    <div class="pull-left step_part" style="height: 65%">
        {{route_path['from']}}
    </div>

    <div class="pull-left step_part" style="height: 65%">
        <img src="{{ static_url('np/icon_34/icon_34.png') }}"/>
    </div>

    <div class="pull-left step_part" style="height: 65%">
        {{route_path['to']}}
    </div>
</div>

<br/><br/><br/>


{% for step in route['steps'] %}
    <div class="step row">
        {% if 'departure' in step %}
            <div class="pull-left step_part">
                {% if 'stop_name' in step['departure'] %}
                    <strong>Stop name:</strong> {{step['departure']['stop_name']}}<br/>
                {% end %}
                {% if 'stop_num' in step['departure'] %}
                    <strong>Stop number:</strong>
                    {{step['departure']['stop_num']}}<br/>
                {% end %}
                <strong>Time:</strong>
                {{step['departure']['time'].strftime('%I:%M %p')}}
            </div>

            <div class="pull-left step_part">
                <img src="{{ static_url('np/icon_34/icon_34.png') }}"/>
            </div>
        {% end %}


            <div class="pull-left step_part">
                <div class="pull-left step_part">
                    {% if step['step_type'] == 'bus' %}
                        <img src="{{ static_url('np/icon_97/icon_97.svg') }}"/>
                    {% elif step['step_type'] == 'train' %}
                        <img src="{{ static_url('np/icon_67/icon_67.svg') }}"/>
                    {% else %}
                        <img src="{{ static_url('np/icon_250/icon_250.svg') }}"/>
                    {% end %}
                </div>


                {% if 'route' in step %}
                    <strong>Route:</strong>
                    {{step['route']['route_moniker']}}

                    {% if step['route'].get('flags') is not None %}
                        <strong>Flags:</strong>
                        {{ ', '.join(map(humanise_flag, step['route']['flags'])) }}
                    {% end %}

                    <br/>

                    {% if step['route'].get('from') is not None %}
                        <strong>From:</strong> {{step['route']['from']}}<br/>
                    {% end %}

                    {% if step['route'].get('to') is not None %}
                        <strong>To:</strong> {{step['route']['to']}}<br/>
                    {% end %}

                    {% if step['route'].get('departs') is not None %}
                        <strong>Departs:</strong> {{step['route']['departs']}}<br/>
                    {% end %}
                {% end %}
            </div>

        {% if 'arrival' in step %}
            <div class="pull-left step_part">
                <img src="{{ static_url('np/icon_34/icon_34.png') }}"/>
            </div>

            <div class="pull-left step_part">
                {% if 'stop_name' in step['arrival'] %}
                    <strong>Stop name:</strong> {{step['arrival']['stop_name']}}<br/>
                {% end %}
                {% if 'stop_num' in step['arrival'] %}
                    <strong>Stop number:</strong>
                    {{step['arrival']['stop_num']}}<br/>
                {% end %}
                <strong>Time:</strong>
                {{step['arrival']['time'].strftime('%I:%M %p')}}
            </div>
        {% end %}

    </div>
    <br/>
{% end %}

{% end %}
