{% extends "base.html" %}
{% block content %}

<div class="sixteen columns">
    <div class="row">
        {% include "select_smartrider.html" %}
    </div>

    {% for trip in trips %}
        <div class="row">
            <div>
                From {{trip['meta']['from']}}
                to {{trip['meta']['to']}}
                <br/>

                <strong>Travel time:</strong> {{trip['meta']['travel_time']}}
                <br/>

                <strong>Wait time:</strong>
                {% if trip['meta']['wait_time'] == '' %}
                    none
                {% else %}
                    {{trip['meta']['wait_time']}}
                {% end %}
                <br/>

                <strong>Price:</strong>
                ${{trip['meta']['price']}}
                <br/>
            </div>
            <br/>

            <div>
                <strong>Route:</strong>
                {% for step in trip['path'][:-1] %}
                    {{step}} →&nbsp;
                {% end %}

                {{trip['path'][-1]}}
            </div>
            <br/>

        {% for step in trip['steps'] %}
            <div>
                <strong>Location:</strong>
                {{step['tagon']['location']}} → {{step['tagoff']['location']}}
                <br/>

                <strong>Time:</strong>
                {{step['tagon']['time'].strftime('%I:%M %p %d/%m/%Y')}} → {{step['tagoff']['time'].strftime('%I:%M %p %d/%m/%Y')}}
                <br/>

                <strong>Zone:</strong>
                {% if step['tagon']['zone'] == step['tagoff']['zone'] %}
                    Within zone {{step['tagon']['zone']}}
                {% else %}
                    {{step['tagon']['zone']}} → {{step['tagoff']['zone']}}
                {% end %}
                <br/>

                <strong>Amount:</strong>
                {% if step['tagoff']['amount'] == 0 %}
                    free
                {% else %}
                    ${{step['tagoff']['amount']}}
                {% end %}
                <br/>

                <strong>Service:</strong>
                {{step['tagoff']['service']}}
                <br/>

                <strong>Balance:</strong>
                ${{step['tagoff']['balance']}}
                <br/>

            </div>
            <br/>
        {% end %}
        </div>
        <hr/>
    {% end %}
</div>

{% end %}
