.nav {
    margin-top: 20px;
}

ul .nav {
      list-style: none;
}

.nav li {
    display: inline;
}

.pull-left {
    float: left;
}

.step_part {
    border: solid black 1px;
    padding: 10px;
    height: 100%;
    margin-right: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.step {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    border: solid black 1px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.step_part img {
    vertical-align: middle;
    height: 60px;
}

.container {
    width: 90% !important;
}
